<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>

{% if conf_venues %}
<h2> Venues </h2>
<h3> Conferences </h3>
<table style="width:100%">
    <tr>
        <th>Shortname</th>
        <th colspan="2">Name</th>
    </tr>
    {% for venue in conf_venues %}
    <tr>
        <td>{{ venue.content.short_name }}</td>
        <td><a href='{% url "venue" venue.id %}'>{{venue.content.name }}</a></td>
    </tr>
    {% endfor %}
</table>

<h3> Workshops </h3>
<table style="width:100%">
    <tr>
        <th>Shortname</th>
        <th colspan="2">Name</th>
    </tr>
    {% for venue in workshop_venues %}
    <tr>
        <td>{{ venue.content.short_name }}</td>
        <td><a href='{% url "venue" venue.id %}'>{{venue.content.name }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No venues are available.</p>
{% endif %}

</body>
</html>